<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <title>mostrar Vehiculos</title>
  </head>
  <body>
    <!--Inicio barra de navegación-->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <div class="container-fluid">
        <a th:href="@{/home}" class="navbar-brand" aria-current="page"
          >Parqueadero el Desvare</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <!--Fin barra de navegación-->
    <!--Inicio del contenedor general-->
    <div class="container">
      <div class="row">
        <h1>Historial de Vehiculos</h1>
      </div>
    </div>
    <!--Fin del contenedor general-->
    <!--Inicio de la tabla-->
    <div class="container container-fluid">
      <div class="container">
        <br />
        <div class="row">
          <div class="col-lg-3">
            <a href="/mostrar" class="btn btn-primary btn-sm mb-3">Volver</a>
          </div>
        </div>
      </div>
      <table class="table table-striped table-bordered">
        <thead class="table-dark" align="center">
          <tr>
            <th>Placa</th>
            <th>Tipo de Vehiculo</th>
            <th>Valor Cancelado</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="historial: ${historial}">
            <td th:text="${historial.placa_vehiculo}"></td>
            <td th:text="${historial.tipo_vehiculo}"></td>
            <td th:text="${historial.valor_cancelado}"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--Fin de la tabla-->
  </body>
</html>
