<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Parqueadero el Desvare</title>

    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
    />

    <!-- Favicon
    ================================================== -->
    <link
      rel="shortcut icon"
      sizes="16x16"
      href="../static/assets/img/parking.ico"
    />

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../static/assets/css/style.css" rel="stylesheet" />
    <link href="../static/assets/css/responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header id="masthead" class="site-header">
      <nav id="primary-navigation" class="site-navigation">
        <div class="container">
          <div class="navbar-header">
            <a href="/" class="site-title"
              >Parqueadero<span> el Desvare</span></a
            >
          </div>
          <!-- /.navbar-header -->

          <div class="collapse navbar-collapse" id="agency-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active">
                <a href="/login" data-toggle="dropdown">Iniciar Sesión</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  >Quienes Somos<i
                    class="fa fa-caret-down hidden-xs"
                    aria-hidden="true"
                  ></i
                ></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li>
                    <a href="#equipo" name="Equipo de Trabajo"
                      >Equipo de Trabajo</a
                    >
                  </li>
                  <li>
                    <a href="/nosotros" name="Sobre Nosotros">Sobre Nosotros</a>
                  </li>
                  <li>
                    <a href="/contact" name="Ubicacion">Ubicación</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  >Nuestros Sitios<i
                    class="fa fa-caret-down hidden-xs"
                    aria-hidden="true"
                  ></i
                ></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li>
                    <a href="/pagos" name="Realizar Pagos">Realizar Pagos</a>
                  </li>
                  <li>
                    <a href="" name="Disponibilidad">Disponibilidad</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- /.site-navigation -->
    </header>
    <!-- /#mastheaed -->

    <div id="hero" class="hero overlay">
      <div class="hero-content">
        <div class="hero-text">
          <h1><b>Bienvenido</b></h1>
          <p>
            <b>Esta es la plataforma del Parqueadero</b>
          </p>
        </div>
        <!-- /.hero-text -->
      </div>
      <!-- /.hero-content -->
    </div>
    <!-- /.hero -->

    <main id="main" class="site-main">
      <section class="site-section section-services gray-bg text-center">
        <div class="container">
          <div id="equipo">
            <h2 class="heading-separator">Nuestro equipo</h2>
            <p class="subheading-text">
              Aca encontrará a nuestro equipo de trabajo, quienes dedicaron sus
              vidas y sus tiempos para crear algo maravilloso.
            </p>
            <div class="row">
              <div class="col-md-4 col-xs-6">
                <div class="service">
                  <img src="../static/assets/img/author.jpg" alt="" />
                  <h3 class="service-title">Edwin Mauricio González Triviño</h3>
                  <p class="service-info">
                    Nuestro diseñador, capacitado para mejorar cada dia la
                    plataforma.
                  </p>
                </div>
                <!-- /.service -->
              </div>
              <div class="col-md-4 col-xs-6">
                <div class="service">
                  <h3 class="service-title"><strong></strong></h3>
                  <p class="service-info"></p>
                </div>
                <!-- /.service -->
              </div>
              <div class="col-md-4 col-xs-6">
                <div class="service">
                  <img src="../static/assets/img/author-3.jpg" alt="" />
                  <h3 class="service-title">David Alejandro Charry Ramirez</h3>
                  <p class="service-info">
                    Nuestro Ingeriero, esta encargado de revisar cada proceso
                    que se realice en la pagina
                  </p>
                </div>
                <!-- /.service -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.section-services -->
      <!-- /.section-map-feature -->
    </main>
    <!-- /#main -->
    <footer id="colophon" class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-6">
            <a href="index1.html" class="site-title"
              >Parqueadero<span> el Desvare</span></a
            >
            <p>Derehos reservados, toda la pagina se encuentra supervisada.</p>
          </div>
          <div
            class="col-lg-offset-4 col-md-3 col-sm-4 col-md-offset-2 col-sm-offset-0 col-xs-6"
          >
            <h3>Ubicaciones</h3>
            <ul class="list-unstyled contact-links">
              <li>
                <i class="fa fa-envelope" aria-hidden="true"></i
                ><a href="mailto:info@agencyperfect.com"
                  >sercliente@parkdesvare.co</a
                >
              </li>
              <li>
                <i class="fa fa-phone" aria-hidden="true"></i
                ><a href="tel:+37400800000">+57 3123546871 </a>
              </li>
              <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <p>Bogotá, Colombia</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-xs-8">
              <div class="social-links">
                <a class="twitter-bg" href="#"><i class="fa fa-twitter"></i></a>
                <a class="facebook-bg" href="#"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a class="pinterest" href="#"
                  ><i class="fa fa-pinterest"></i
                ></a>
                <a class="linkedin-bg" href="#"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </div>
              <!-- /.social-links -->
            </div>
            <div class="col-xs-4">
              <div class="text-right">
                <p>&copy; SuperMarket</p>
                <p>Siempre a tu servicio</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.copyright -->
    </footer>
    <!-- /#footer -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/jquery.slicknav.min.js"></script>
    <script src="assets/js/jquery.countTo.min.js"></script>
    <script src="assets/js/jquery.shuffle.min.js"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
