<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <title>mostrar Vehiculos</title>
  </head>
  <body>
    <!--Inicio barra de navegación-->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <div class="container-fluid">
        <a th:href="@{/}" class="navbar-brand" aria-current="page"
          >Parqueadero el Desvare</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <!--Fin barra de navegación-->
    <!--Inicio del contenedor general-->
    <div class="container">
      <div class="row">
        <h1>Lista de vehiculos</h1>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <a th:href="@{/mostrar/registrar}" class="btn btn-primary btn-sm mb-3"
            >Agregar vehiculo</a
          >
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <a th:href="@{/historial}" class="btn btn-primary btn-sm mb-3"
            >Historial</a
          >
        </div>
      </div>
    </div>
    <!--Fin del contenedor general-->
    <!--Inicio de la tabla-->
    <div class="container container-fluid">
      <table class="table table-striped table-bordered">
        <thead class="table-dark" align="center">
          <tr>
            <th>Placa</th>
            <th>Tipo de Vehiculo</th>
            <th>Fecha de Ingreso</th>
            <th>Hora de Ingreso</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="vehiculo: ${vehiculo}">
            <td th:text="${vehiculo.placa_vehiculo}"></td>
            <td th:text="${vehiculo.tipo_vehiculo}"></td>
            <td th:text="${vehiculo.fecha_ingreso}"></td>
            <td th:text="${vehiculo.hora_ingreso}"></td>
            <td>
              <a
                th:href="@{/mostrar/salida/{id}(id=${vehiculo.id})}"
                class="btn btn-primary"
                >Salida</a
              >
              <a
                th:href="@{/mostrar/{id}(id=${vehiculo.id})}"
                class="btn btn-danger"
                >Delete</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--Fin de la tabla-->
  </body>
</html>
